.DS_Store
.gitignore
.svn
aws_sdb_proxy.yml
backgroundrb.yml
database.yml
fed_ex.yml
flickr.yml
juggernaut.yml
juggernaut_hosts.yml
initializers/mail.rb
initializers/session_store.rb
s3.yml
coverage
coverage.data
db/*.sqlite3
db/*.sqlite3-journal
db/*_structure.sql
db/*sql
db/schema.rb
db/seeds.rb
doc
doc/app
doc/guides
doc/plugins
log/*
rdoc
tmp/**/*
versions
downloads
public/user
public/photo
public/photo_old

public/bj.html
public/dice.html
public/divs.html
public/index.html.orig
public/index.html.orig.2.3.2
public/javascripts/jquery-1.2.6.js
public/javascripts/jquery-1.3.2.js
public/javascripts/mine_sweeper.js.01
public/javascripts/mine_sweeper.js.02
public/javascripts/period.js.orig
public/javascripts/vbx/
public/javascripts/yahtzee.js.091129
public/javascripts/yahtzee.js.091129b

public/ms.html
public/test.html
public/y.html

cookies.txt
describe_database_tables
downloaded_ratings
downloaded_ratings2
existing_inline_javascript
index.html.erb
netflix_ratings.html
production_db_description
rip.rb
test.pl
ttt.rb

config/initializers/mail.rb
