div.blog div span.label {
	font-weight: bold;
}

div.blog div.title {
	clear:left;
	float: left;
}
div.blog div.title a {
	font-size: 12pt;
	font-weight: bold;
}
div.blog div.manage {
	text-align:right;
}


div.blog div.user {
	clear:left;
	float: left;
	width: 13em;
}
div.blog div.hide {
	float: left;
	width: 8em;
}
div.blog div.public {
	float: left;
	width: 8em;
}
div.blog div.entries_count {
	float: left;
	width: 10em;
}
div.blog div.tags {
}

