<% form_for :photo, 
	:url => photo_path(@photo), 
	:html => { :class => 'confirm_destroy', :method => :delete } do |f| %>
	<h2>Are you sure you want to destroy this photo?</h2>
	<p><%= @photo.caption -%></p>
	<p>
		<%= f.submit "Destroy" %>
		or <%= link_to "Cancel", photos_path, :class => 'button' %>
	</p>
<% end %>
