<h1>New tic_tac_toe</h1>

<% form_for(@tic_tac_toe) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :player_2_id, "Opponent:" %>
    <%= f.collection_select(:player_2_id, User.all(:order => 'login'), :id, :login ) -%>
  </p>
  <p>
    <%= f.submit 'Challenge' %>
  </p>
<% end %>
